/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}




/* colors */
.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1
{
	border: 1px solid black;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	position: relative;
}

.color-1 {
	background: #033a5d;
}
.color-2 {
	background: #055b91;
}
.color-3 {
	background: #99050e;
}
.color-4 {
	background: #2d2d2d;
}
.color-5 {
	background: #d7d7d7;
}


/**/
h1 {
	font-family: 'Oswald', sans-serif;
	color:#99050e ;
	font-size: 6em;
	margin-bottom: -.25em;
	background: #033a5d;

}



h2{
	color: #033a5d ;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 3em;

}

h3{
	color: #2d2d2d ;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 2.4em;

}

p {
	font-family: 'Carrois Gothic SC', sans-serif;
	color:  black;
	font-size: 1.2em;
		background: #d7d7d7;
}

section > img {
	height: 400px;
	width: 400px;
}

a {
color: black;
text-decoration: none;

}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}